html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.main-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.graphics {
  position: absolute;
  z-index: -1;
}

.graphics-left {
  width: 35vw;
  height: 87.5vh;
  top: 0;
  right: 70.8vw;
  background: -o-linear-gradient(245deg, #e942ff -40%, #8838ff 100%);
  background: linear-gradient(205deg, #e942ff -40%, #8838ff 100%);
  border-radius: 0px 0px 255px 245px;
}

.graphics-right {
  width: 35vw;
  height: 85vh;
  bottom: 0;
  left: 77.5vw;
  background: rgba(136, 56, 255, 0.025);
  border-radius: 253px 253px 0px 0px;
}

.footer {
  position: fixed;
  bottom: 50px;
}

.attribution {
  font-size: 0.687rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}

.container {
  width: 913px;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  grid-gap: 125px;
}

.chat-app-wrap {
  width: 247px;
  height: 505px;
  font-size: 0.625rem;
  padding: 10px;
  padding-top: 11px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 16px 37px rgba(62, 39, 83, 0.1), 0px 73px 42px -52px rgba(62, 39, 83, 0.05);
}

.chat-app-container {
  width: 100%;
  height: 100%;
  background-color: #f5f3f7;
  border-radius: 18px;
}

.chat-app-header {
  width: 227px;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 20px 20px 5px 5px;
  background: linear-gradient(to left, #e942ff, #8838ff);
  box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.05);
}

.header-ios-head {
  width: 129px;
  height: 18px;
  border-radius: 0px 0px 14px 14px;
  background-color: white;
  flex-shrink: 0;
}

.header-head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 16px 12px 14px;
}

.header-chevron-left-icon {
  width: 15px;
  text-align: left;
}

.header-ellipsis-v-icon {
  width: 27px;
  text-align: right;
  font-size: 0.437rem;
}

.header-user-info {
  width: 174px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 0;
  grid-gap: 8px;
}

.avatar-img {
  border: 1px solid white;
  border-radius: 50%;
}

.info-content-username {
  font-size: 0.656rem;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.info-content-status {
  font-size: 0.5rem;
  color: #d89eff;
  line-height: 1.5;
}

.main-content-wrap {
  max-width: 442px;
}

.main-content-heading {
  color: #3e2753;
  margin-bottom: 22px;
  font-size: 2.5rem;
  font-weight: 500;
}

.main-content-description {
  color: #a39daa;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
}

.chat-app-body {
  width: 100%;
  height: 419px;
  display: flex;
  flex-flow: column;
  padding: 11px 7px 11px 7px;
}

.body-chat-messages {
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
}

.message-item {
  margin-bottom: 8px;
  padding: 6px 8px;
  max-width: 60%;
  border-radius: 10px 10px 10px 4px;
  font-size: 0.5rem;
  line-height: 1.38;
}

.message-item:last-child {
  margin-bottom: 0;
}

.message-left {
  align-items: flex-start;
}

.message-left > .message-item {
  background-color: #efe3f7;
  color: #9241c8;
}

.message-right > .message-item {
  background-color: white;
  color: #6e5d7e;
  border-radius: 10px 10px 4px 10px;
  box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.05);
}

.message-right {
  align-items: flex-end;
}

.body-chat-images {
  display: flex;
  justify-content: flex-end;
  grid-gap: 8px;
  margin-bottom: 5px;
}

.chat-images-item img {
  border-radius: 10px;
}

.body-chat-plans {
  width: 100%;
}

.chat-plan-item {
  max-width: 75.5%;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  margin-bottom: 8px;
  padding: 9px 17px 8px 8px;
  border-radius: 10px 10px 10px 4px;
  font-size: 0.5rem;
  background: linear-gradient(to right, #e942ff, #8838ff);
  color: white;
}

.chat-plan-item:last-child {
  margin: 0;
}

.plan-radio {
  width: 12px;
  height: 12px;
  display: none;
}

.plan-label {
  flex-basis: 100%;
  color: #d89eff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.plan-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  margin-top: -5px;
  border: 1px solid #e570ff;
  border-radius: 8px;
}

.plan-label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 8px;
  margin-top: 0;
  background: #fafafa;
  border-radius: 4px;
  transition: 0.1s ease-in-out;
}

:checked + .plan-label:after {
  height: 6px;
  width: 6px;
  margin-top: -2px;
  left: 3px;
}

.plan-price {
  font-size: 0.75rem;
  color: white;
  letter-spacing: 0.04em;
}

.chat-app-type-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 17px;
  padding-left: 19px;
  padding-right: 5px;
}

.type-area-input {
  width: 154px;
  max-height: 34px;
  color: #c6cacd;
  font-size: 0.531rem;
  border: none;
  letter-spacing: 0.02em;
  padding-top: 19px;
  padding-bottom: 15px;
  outline: none;
}

.type-area-send-btn {
  width: 24px;
  height: 24px;
  background-color: #3e2753;
  border-radius: 50%;
  color: white;
  border: 0;
  font-size: 0.968rem;
  padding-right: 6px;
  line-height: 1.6;
}

@media screen and (max-width: 576px) {
  .main-block {
    height: 100%;
  }

  .graphics-left {
    width: 510px;
    height: 510px;
    right: 50vw;
    background: -o-linear-gradient(245deg, #e942ff -100%, #8838ff 120%);
    background: linear-gradient(180deg, #e942ff -100%, #8838ff 120%);
  }

  .graphics-right {
    width: 510px;
    height: 508px;
    left: 50vw;
  }

  .container {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    grid-gap: 65px;
    margin: 65px 0px 72px 0px;
    padding-left: 34px;
    padding-right: 34px;
  }

  .main-content-wrap {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
