// media queries

@media  screen and (max-width: 576px) {
    .main-block {
        height: 100%;
    }
    .graphics-left{
        width: 510px;
        height: 510px;
        right: 50vw;
        background: -o-linear-gradient(245deg, $gradients-1 -100%, $gradients-2 120%);
        background: linear-gradient(180deg, $gradients-1 -100%, $gradients-2 120%);
    }
    .graphics-right {
        width: 510px;
        height: 508px;
        left:50vw;
    }
    .container {
        width: 80vw;
        height: 100%;
        display:flex;
        justify-content: center;
        flex-flow: column;
        grid-gap: 65px;
        margin: 65px 0px 72px 0px;
        padding-left: 34px;
        padding-right: 34px
    }
    .main-content-wrap{
        text-align: center;
    }
}